<div>

  <!-- Toolbar -->
  <div class="toolbar" role="banner" [ngStyle]="{backgroundColor: master}">
    <h2>Movies catalog</h2>
    <div class="change-bg">
      <input
        placeholder="enter color"
        [(ngModel)]="masterColor"
      >
      <button class="btn change-btn" [disabled]="!masterColor" (click)="dropColors()">change</button>
    </div>
    <div class="modal-btn">
      <button class="btn add-btn" (click)="showModal()">Add</button>
    </div>
  </div>
  <!-- Toolbar ends-->

  <div class="content" role="main">

    <!-- Modal -->
    <ng-template appRef></ng-template>
    <!-- Modal ends -->

    <div class="card-container">
      <app-movie-card
        *ngFor="let p of movies"
        [movie]="p"
        [master]=master
        (onRemove)="removeMovie($event)"
        (onChangeBg)="changeBg($event)"
      >
      </app-movie-card>
    </div>

  </div>
</div>
