.toolbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  color: #76bdbd;
  font-weight: 600;
  justify-content: space-between;
}



.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  overflow: hidden;
}



