<div [ngStyle]="{backgroundColor: movie.bg || master}" class="card">

  <div class="flex flex-column">
    <div class="card-title">
      <h2>{{movie.title | titlecase}}</h2>
    </div>

    <a class="movie-link" target="_blank" rel="noopener" href="{{movie.link}}">Go to IMDb</a>

  </div>

  <div class="change-bg">
    <input
      placeholder="enter color"
      [(ngModel)]="bg"
    >
    <button class="btn change-btn" (click)="changeBg()">
      <img src="../../../assets/icons/checkmark.png">
        </button>
  </div>
  <!--  <button class="btn" (click)="removeMovie()">&times;</button>-->

  <ng-content></ng-content>
</div>
