.card-title {
  display: flex;
  width: 150px;
  word-break: break-all;
  color: #fdfdfd;
  margin-bottom: 0.8em;
}


.change-bg input {
  margin: 0;
  width: 100px;
  font-size: 0.9rem;
}

.change-bg button {
  margin-right: 0;
}

@media screen and (max-width: 575px) {

  .card {
    width: auto;
    align-items: baseline;
    margin: 0 16px 18px;
  }

  .card-title {
    width: 250px;
  }

  .change-bg {
    align-self: flex-end;
  }

}
