.navbar {
  color: white;
  margin-bottom: 1.5em;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
}

.modal {
  z-index: 99;
  padding: 1rem;
  background: #404040;
  margin-top: 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 5px;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.83);
}

.modal-btns {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
}

input {
  &.ng-invalid.ng-touched {
    border: 1px solid #ff6256;
  }

  &.ng-valid.ng-touched {
    border: 1px solid #96b364;
  }
}

.validation {
  display: flex;
  flex-direction: column;
  color: #ff6256;
}

body {
  overflow: hidden;
}

@media screen and (max-width: 575px) {
  .modal {
    width: 300px;
  }
}
