<div class="backdrop"></div>

<form (ngSubmit)="submit()" [formGroup]="form">
  <div [ngStyle]="{backgroundColor: master}" class="modal">
    <nav class="navbar">
      <h1>{{ (this.form.get('title').value | titlecase) || title }}</h1>
      <a class="movie-link" href="{{this.form.get('link').value}}"
         rel="noopener" target="_blank" type="button">Go to IMDb</a>
    </nav>

    <div class="form-control">

      <input
        class="form-control"
        formControlName="title"
        placeholder="title..."
        type="text"
      >

      <div
        *ngIf="form.get('title').invalid && form.get('title').touched"
        class="validation"
      >
        <small *ngIf="form.get('title').errors.required">
          Title field can't be empty
        </small>
        <small *ngIf="form.get('title').errors.maxlength && form.get('title').touched">
          Length must be maximum {{form.get('title').errors.maxlength.requiredLength}} symbols.
          Now length is {{form.get('title').errors.maxlength.actualLength}} symbols
        </small>
      </div>
    </div>

    <input
      class="form-control"
      formControlName="link"
      placeholder="link to IMDb..."
      type="text"
    >

    <div
      *ngIf="form.get('link').invalid && form.get('link').touched"
      class="validation"
    >
      <small *ngIf="form.get('link').errors.required && form.get('link').touched">
        Link field can't be empty
      </small>
      <small *ngIf="form.get('link').errors.wrongLink">
        Link must contain imdb address
      </small>
      <small *ngIf="form.get('link').errors.maxlength && form.get('link').touched">
        Length must be maximum {{form.get('link').errors.maxlength.requiredLength}} symbols.
        Now length is {{form.get('link').errors.maxlength.actualLength}} symbols
      </small>

    </div>

    <div class="modal-btns">
      <button [disabled]="form.invalid || form.pending" class="btn add-btn" type="submit">Add</button>
      <button (click)="close.emit()" class="btn">Close</button>
    </div>
  </div>
</form>
