* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 24px;
  height: 24px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #1b1b1b;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1rem;
  background-color: #404040;
}

a {
  text-decoration: none;
  color: #d8d7d7;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  filter: invert(98%) sepia(0%) saturate(1088%) hue-rotate(319deg) brightness(94%) contrast(81%);
  }

.btn {
  display: inline-block;
  background: #333333;
  color: #d5d5d5;
  padding: 0.2rem 0.9rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  height: 32px;
  border-radius: 5px;

  &:disabled {
    color: #545454;
    cursor: not-allowed;
  }
}

.btn:hover {
  opacity: 0.8;
}

.form-control {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: .5rem;

  label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: .5rem;
  }
  input {
    margin-bottom: 0;
  }

  .validation {
    color: red;
  }
}

.card {
  border-radius: 4px;
  border: 1px solid #464646;
  background-color: #fafafa;
  height: 280px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;

  p {
    display: flex;
    justify-content: space-between;

    span.completed {
      text-decoration: line-through;
    }
  }
}

input,
select,
textarea {
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  margin: 1.2rem 0;
  background-color: #585858;
  border: 1px solid #707070;
  border-radius: 5px;
  color: #d8d7d7;
}

.change-bg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.change-bg > * {
  display: flex;
  height: 32px;
}

.change-bg input {
  border-radius: 5px 0 0 5px;

}

.change-btn {
  border-radius: 0 5px 5px 0;
}

.add-btn {
  background-color: #2b9292;
  border-radius: 5px;
  color: white;
}

.toolbar h2, .modal-btn {
  margin: 0 16px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container  {
    width: 100%;
  }

}

@media screen and (max-width: 575px) {
  .card-container  {
    flex-direction: column;
  }

  .toolbar h2 {
    line-height: 24px;
    margin: 0 7px;
  }

  .toolbar input{
    width: 100px;
    font-size: 1rem;
  }

  .btn {
    margin-right: 0;
    //padding: 0.1rem 0.5rem;
  }

  .modal-btn {
    margin: 0 7px;
  }
}
